<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Registro</title>
</head>
<body>
    <header>
        <p class="barrasup">20% de descuento en todos los productos!</p>
        <div class=titulo>
            <img src="../img/logo 1.png">
            <h2>Nombre Tienda</h2>
        </div>        
    </header>
    <main>
        <h1>Registro</h1>
        <form action="../index.html" method="GET">
            <input type="text" name="nombre" placeholder="Nombre y Apellido">
            <input type="text" name="email" placeholder="Correo Electronico">
            <input type="password" name="Contraseña" placeholder="Contraseña">
            <input type="text" name="" id="">
            <div class=botones>
                <button type="reset">Resetear</button>
                <button type="submit">Registrar</button>
            </div>
        </form>
        <a href="ingreso.html">¿Ya tienes una cuenta? Ingresar</a>
    </main>
    <footer>
        <p>Todos los derechos reservados a FRONT END 1</p>
    </footer>

    
</body>
</html>