@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;
    height: 578px;
    width: 1024px;
}
header{
    background-color:#222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    width: 1024px;
    height: 100px;
    justify-content: space-between;
    align-items:center;
   
}
header ul{
    display: flex;
    width: 320px;;
    justify-content: space-evenly;
}
a{
    color: white;
    text-decoration:none;
}

.cajas {
    
    display: flex;
    justify-content: center;
    margin:35px 0px;


}
.caja1{
    background-image: url("../img/delivery.jpg");
    width: 490px;
    height: 350px;
    margin-right: 2.5px;
    
    }
.caja1 span{
    color: white;
}

.caja2{
    background-color: white;
    width: 491px;
    height: 350;
    margin-left: 2.5px;
}
.caja2 div{
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
    margin-top: 58px;;
}
.caja2 div p{
    position:relative;
    left:50px;
}
h2{
    color:red;
    font-weight: bold;
    position: relative;
    top:20px;
    font-size: 26px;
}
.caja1 h2{
    left:20px;
}
.caja2 h2{
    text-align: center;
}
footer{
    display: flex;
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1024px;
    height: 150px;
    justify-content: space-between;
    align-items:center;
    
}
footer nav{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}
