@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
body{
    font-family: 'Roboto', sans-serif;
    background-color: #E5E5E5;;
}
header{
    background-color:#222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
   
}
header ul{
    display: flex;
    color: white;
    text-transform: none;
}

cajas{
    flex: display;
}
.caja1{
    background-image: url("../img/delivery.jpg");
    width: auto;
    height: auto;
}

.caja2{
    width: auto;
    height: auto;
    background-color: white;
}
footer{
    display: flex;
    background: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
