header { 
    text-align:center;
    background: #E6E6E6;

}

h1 {
    text-align:center;
    color: #005677;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 84.69%;
    background: #C4C4C4;
   
  
    
h2 {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 84.69%;
    color: #005677;
    background: #C4C4C4; 
}
footer{
    background-color: blue;
}
