header { 
    text-align:center;
    background: #E6E6E6;

}

h1 {
    text-align:center;
    color: #005677;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 84.69%;
    background-color: #C4C4C4;
   
}
span{
    font-weight: bold;
}
    
h3 {
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 84.69%;
    color: #005677;
    background-color: #C4C4C4; 
    text-transform: uppercase;
}
footer{
    text-align: center;
    background-color: blue;
}
